<% provide(:title, "File: #{@blob.name}") %>

<h1>File: <%= @blob.name %></h1>

<% if @textfile %>
	<table id="highlitedCode">
		<tbody>
			<tr>
				<td class="lineNumbers">
					<div>
						<%= raw gen_line_numbers @lines %>
						</div>
				</td>
				<td>
					<div>
						<%= raw @highlighted %>
					</div>
				</td>
		</tbody>
	</table>
<% else %>
	<p>This file is probably not a text file. Preview not available.</p>
<% end %>
