<h1>Filename: @name </h1>

<table>
	<tbody>
		<tr>
			<td>
				<div>
					<%= raw gen_line_numbers @lines %>
					</div>
			</td>
			<td>
				<div>
					<%= raw @highlighted %>
				</div>
			</td>
	</tbody>
</table>


