<% provide(:title, 'Source') %>

<% if @branches.length > 1 %>
	<% @branches.each do |branch| %>
		<% if @current_branch_name != branch.name %>
			<%= link_to "#{branch.name} branch", project_branch_path(@project.id, branch.name), class: 'button r' %>
		<% end %>
	<% end %>
<% end %>

<%= link_to "Browse all files", project_branch_browse_path(@project.id, @current_branch_name, '-', ''), :class => 'button r' %>

<h1>Source</h1>
<h2>Current branch: <%= @current_branch_name %></h2>

<% if @current_branch_commits.any? %>

	<div id="commits">
		<%= render 'source/commits' %>
	</div>

	<script type="text/javascript">
		$(window).scroll(function() {
			if ($(window).scrollTop() + 100 > $(document).height() - $(window).height() && !cw.isLoading()) { 
				cw.nextPage('#commits');
			}
		});	
	</script>
<% else %>
	<p>There are no commits yet.</p>
<% end %>