<h1>Source Tree</h1>


<% @trees.each do |t| %>
<div>
<span>dir</span>
<span>
  <%= tree t %>
<span>
<div>

<% end %>


<% @blobs.each do |b| %>
<div>
<span>file</span>
<span>
  <%= blob b, @tree %><br />
<span>
<div>
<% end %>
