<table>
  <tbody>
    <tr>
      <td>
        <div>
          <%= raw gen_line_numbers diff_file.size %>
          </div>
      </td>
      <td>
        <div>
          <div class="highlight"><pre>
          <% diff_file.each do |el| %>
            <% if el.status == :fake %>
              <div class="diff-fake">  <%= raw el.line %> </div>
            <% elsif el.status == :mutual %>
              <div class="diff-mutual">  <%= raw el.line %> </div>
            <% elsif el.status == :extra %>
              <div class="diff-extra">  <%= raw el.line %> </div>
            <% end %>         
          <% end %>         
        </div>
      </td>
  </tbody>
</table>
