<h1>Diff</h1>




<table>
  <tbody>
    <tr>
      <td>
        <div>
          <%= render partial: 'diff_snippet', locals: { diff_file: @diff_files[0] } %>     
        </div>
      </td>
      <td>
        <div>
          <%= render partial: 'diff_snippet', locals: { diff_file: @diff_files[1] } %>
        </div>
      </td>
  </tbody>
</table>



