<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>Hi there,</p>
		
		<p>You're nearly done!</p>
		
		<p>We just need you to activate your account.</p>
		
		<p>To insure our future messages reach you please add us to your address book.</p>
		
		<p>To activate your account please click the link below:</p>
		
		<p><a href="<%=@url%>"><%=@url%></a></p>
  </body>
</html>
