<table>
  <tbody>
  <tr>
    <td>
      <div>
        <%= raw gen_line_numbers size %>
      </div>
    </td>
    <td>
      <div>
        <%= raw diff_file %>
      </div>
    </td>
  </tr>
  </tbody>
</table>
