<h1>Diff</h1>



<table>
	<tbody>
		<tr>
			<td>
				<div>
					<%= render partial: 'diff_snippet', locals: { diff_file: @diff_a } %>			
				</div>
			</td>
			<td>
				<div>
					<%= render partial: 'diff_snippet', locals: { diff_file: @diff_b } %>
				</div>
			</td>
        <tr/>
        <tr>
          <td>
            <div>
              <tr>
                <%= raw @char_diff %>
              </tr>
            </div>
          </td>
        </tr>
	</tbody>
</table>



