<h1>Diff</h1>

<div id="tabs">
    <ul>
        <li class="active"><a href="#lineTab">Line by line</a></li>
        <li><a href="#charTab">Char by char</a></li>
    </ul>
    <div id="lineTab">
		
		<div class="diffPart">
			<table id="highlitedCode" class="diff btless">
				<tbody>
				<tr>
					<td class="lineNumbers"></td>
					<td>
						<div>
							<%= raw @file_a %>
						</div>
					</td>
				</tbody>
			</table>
		</div>
		<div class="diffPart">
			<table id="highlitedCode2" class="diff btless">
				<tbody>
				<tr>
					<td class="lineNumbers"></td>
					<td>
						<div>
							<%= raw @file_b %>
						</div>
					</td>
				</tbody>
			</table>
		</div>
		<div class="both"></div>
    </div>
    <div id="charTab">
		<div id="codeContainer">
			<table id="highlitedCode3" class="btless">
				<tbody>
				<tr>
					<td class="lineNumbers">
						<%= raw gen_line_numbers @lines %>
					</td>
					<td>
						<div>
							<%= raw @char_diff %>
						</div>
					</td>
				</tbody>
			</table>
		</div>
    </div>
</div>
