<% provide(:title, 'Tasks Overview') %>

<% if admin? %>
	<%= link_to "Add new task", new_project_task_path(@project),  :class => 'button r' %>
<% end %>

<h1>Tasks overview</h1>

Project's tasks:<br /><br /><br />
<% if @tasks.empty? %>
No tasks defined
<% else %>
<%= render @tasks %>
<% end %>
