<h1>Tasks overview </h1>

<%= link_to "Create new task", new_project_task_path(@project),  :class => 'button r' %>
Project's tasks:<br /><br /><br />
<% if @tasks.empty? %>
No tasks defined
<% else %>
<%= render @tasks %>
<% end %>
