<% provide(:title, 'Code Snippets') %>
<h1>Code Snippets</h1>
<p>Code snippets!</p>


<div id=code_snippets>
  <%= @code_snippets %>
</div>

<ul>
  <%= link_to "Create new", new_code_snippet_path%>
</ul>
