<h1>CodeSnippets#show</h1>
<p><%= @code_snippet.title %></p>




<table>
  <tbody>
    <tr>
      <td>
        <div>
          <%= raw gen_line_numbers @lines %>
          </div>
      </td>
      <td>
        <div>
          <%= raw @highlighted %>
        </div>
      </td>
  </tbody>
</table>

<ul>
  <%= link_to "Snippets home", code_snippets_path %>
</ul>
