<li>
Task title:	<%= link_to @task.title, project_task_path(@task.project,@task) %><br />
Change date: <%= tasks_history.created_at %> <br />
<%= link_to "Details", task_tasks_history_path(@task, tasks_history)  %>
</li></br>
