<% provide(:title, 'Home') %>

<h1 class="cen">Online Code Review System for Distributed Teams</h1>

<h2 class="cen">Code review has never been easier</h2>
<h3>&nbsp</h3>
<h3 class="cen">Version control using Git</h3>
<h3 class="cen">Tasks and milestones</h3>
<h3 class="cen">Deployment for your code</h3>
<h3 class="cen">...and more!</h3>

<div class="cen">
	<%= link_to "Try it now!", signup_path, :class => 'button' %>
</div>
