<% if @logs.any?; %>

	<div id="logs">
		<%= render 'projects/logs' %>
	</div>

<% else %>

	<p>There is no recent activity to show.</p>

<% end %>

<script type="text/javascript">
$(window).scroll(function() {
	if ($(window).scrollTop() + 100 > $(document).height() - $(window).height() && !scrollLoading) { 
		loadNextPage('#logs');
	}
});	
</script>