/*
 * This is a manifest file that'll automatically include all the stylesheets
 * available in this directory and any sub-directories. You're free to add
 * application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style 
 * scope.
 *= require_self
 *= require_tree . 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}
b, strong {
    font-weight: bold;
}
i, em {
    font-style: italic;
}
html, body {
    height: 100%;
}
body {
    background: #141414 url('../assets/top.png') repeat-x left top;
}
body, input, select, textarea {
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #2e2e2e;
}
div#main {
    margin: 0 auto;
    width: 1000px;
    min-height: 100%;
    margin-bottom: -38px;
    position: relative;
}
div#top {
    position: relative;
    height: 318px;
}
div#logo {
    position: absolute;
    background: url('../assets/logo.png') no-repeat;
    width: 631px;
    height: 315px;
    left: 50px;
}
div#logo a {
    display: block;
    width: 235px;
    height: 45px;
    margin: 135px 0 0 143px;
}
ul#nav {
    text-transform: lowercase;
    position: absolute;
    right: 0px;
    top: 159px;
}
ul#nav li {
    display: inline-block;
    margin-left: 25px;
}
ul#nav li a {
    color: #396f84;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}
div#content {
    margin: 25px 0;
    background: #fff url('../assets/main.png') repeat-x left top;
    border: 1px solid #fff;
    padding: 25px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
div#clearFooter {
    height: 38px;
    clear: both;
}
div#footer {
    background: #0f0f0f;
    position: relative;
}
div#footerIn {
    height: 26px;
    margin: 0 auto;
    width: 1000px;
    background: url('../assets/footer.png') no-repeat 340px 0;
    text-align: center;
    padding-top: 12px;
    color: #3e3e3e;
}
div#main h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 26px;
}
div#main p {
    margin: 10px 0;
    line-height: 1.5;
}
.codewatchForm form {
    margin-top: 15px;
}
.codewatchForm form label {
    display: block;
    font-weight: bold;
    float: left;
    width: 150px;
    text-align: right;
    margin-top: 5px;
}
.codewatchForm form div.e {
    clear: right;
    margin: 0 0 10px 160px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}
.codewatchForm form div.e ul.errors {
    font-size: 11px;
    color: red;
    margin: 5px;
}
.codewatchForm form input {
    border: 1px solid #164B5F;
    padding: 2px;
}
.codewatchForm form .send {
    margin-left: 162px;
    padding: 4px;
    font-weight: bold;
    background: red;
    color: #fff;
    border: 1px solid #141414;
}

/* flash */
}