/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: #164B5F;
}
b, strong {
	font-weight: bold;
}
i, em {
	font-style: italic;
}
.both {
	clear: both;
}
.r {
	float: right;
}
html, body {
	height: 100%;
}
body {
	background-color: #3D3D3D;
	background-image: url('../assets/top.png');
	background-repeat: repeat-x;
}
body#basic {
	background-position: left top;
}
body#company {
	background-position: left -69px;
}
body, input, select, textarea {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #141414;
}
body#basic div#main {
	margin: 0 auto;
	width: 1000px;
	min-height: 100%;
	margin-bottom: -38px;
	position: relative;
}
body#company div#main {
	margin: 0 20px;
	min-height: 100%;
	margin-bottom: -64px;
	position: relative;
}
body#basic div#top {
	position: relative;
	height: 318px;
}
body#basic div#logo {
	position: absolute;
	background: url('../assets/logo.png') no-repeat;
	width: 631px;
	height: 315px;
	left: 50px;
}
body#company div#logo {
	float: right;
	background: url('../assets/simpleLogo.png') no-repeat;
	width: 230px;
	height: 41px;
}
body#company div#top {
	margin: 25px;
}
body#basic div#logo a {
	display: block;
	width: 235px;
	height: 45px;
	margin: 135px 0 0 143px;
}
body#company div#logo a {
	display: block;
	width: 100%;
	height: 100%;
}
div#branding {
	font-size: 30px;
	color: #fff;
	font-family: Georgia, "Times New Roman", Times, serif;
}
div#branding span {
	font-size: 15px;
}
div#branding a.project {
	color: #fff;
}
div#branding a.company {
	font-size: 45px;
	color: #30748E;
	text-shadow: #000 1px 1px 1px;
}
div#projectsList {
	width: 360px;
	border: 1px solid #999;
	padding: 20px;
	float: right;
	background: #ccc;
	margin-right: 20px;
}
div#projectsList h4 {
	font-weight: bold;
	font-size: 17px;
}
div#projectsList ul {
	margin: 30px 10px 10px 30px;
}
div#projectsList ul li {
	color: #fff;
	list-style-type: disc;
	font-size: 14px;
	margin-bottom: 5px;
}
div#projectsList ul li a {
	color: #30748E;
}
div#nav, div#subnav {
	margin-top: 15px;
}
div#nav ul li, div#subnav ul li {
	border: 1px solid #222;
	background: #164B5F;
	display: inline-block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	opacity: 0.6;
}
div#nav ul li:hover, div#subnav ul li:hover {
	opacity: 1;
}
div#nav.r ul li {
	background: #0D3342;
	border: 1px solid #30748E;
}
div#nav ul li.divider, div#subnav ul li.divider {
	background: none;
	border: 0;
	width: 50px;
}
div#nav ul li a, div#subnav ul li a {
	display: block;
	color: #ddd;
	padding: 5px 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
ul#nav {
	text-transform: lowercase;
	position: absolute;
	right: 0px;
	top: 159px;
}
ul#nav li {
	display: inline-block;
	margin-left: 25px;
}
ul#nav li a {
	color: #396f84;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
div#content {
	margin: 25px 0;
	background: #fff url('../assets/main.png') repeat-x left top;
	border: 1px solid #fff;
	padding: 25px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
div#clearFooter {
	height: 38px;
	clear: both;
}
div#footer {
	background: #0f0f0f;
	position: relative;
}
div#footerIn {
	height: 26px;
	margin: 0 auto;
	width: 1000px;
	background: url('../assets/footer.png') no-repeat 340px 0;
	text-align: center;
	padding-top: 12px;
	color: #3e3e3e;
}
div#main h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 26px;
	margin-bottom: 20px;
}
div#main p {
	margin: 10px 0;
	line-height: 1.5;
}
.codewatchForm form {
	margin-top: 15px;
}
.codewatchForm form label {
	display: block;
	font-weight: bold;
	float: left;
	width: 150px;
	text-align: right;
	margin-top: 5px;
}
.codewatchForm form div.e {
	clear: right;
	margin: 0 0 10px 160px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #ccc;
}
.codewatchForm form div.e ul.errors {
	font-size: 11px;
	color: red;
	margin: 5px;
}
.codewatchForm form input, .codewatchForm form select, .codewatchForm form textarea {
	border: 1px solid #164B5F;
	padding: 2px;
	width: 200px;
}
.codewatchForm form .send {
	margin-left: 162px;
	padding: 4px;
	font-weight: bold;
	background: red;
	color: #fff;
	border: 1px solid #141414;
	width: auto;
}
a.button {
	border: 1px solid #000;
	background: #30748E;
	color: #fff;
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 3px 6px;
	display: inline-block;
	margin-left: 15px;
}
div.user, div.server {
	display: inline-block;
	margin: 10px;
	width: 250px;
	padding: 5px;
	border: 1px solid #ccc;
	height: 50px;
}
div.server {
	width: 300px;
	height: 75px;
}
div.user img {
	float: left;
	margin-right: 10px;
}
div.user a {
	font-size: 16px;
}
div.user span, div.server span {
	display: block;
	margin: 5px 0;
}
div.server span.links {
	margin-top: 10px;
}
div.server span.links a {
	display: inline-block;
	margin-right: 15px;
}
div.box {
	margin: 20px;
	line-height: 1.3;
	font-size: 14px;
}
div.server h4, div#projectsList div.deployment h4 {
	color: #164B5F;
	font-size: 16px;
}
div#projectsList div.deployment {
	border: 1px solid #000;
	background: #fff;
	padding: 5px;
	margin-bottom: 5px;
}
div#projectsList div.deployment h4 {
	font-size: 14px;
}
div#projectsList div.deployment div.progress {
	height: 10px;
	margin: 4px;
	border: 1px solid #888;
}
div#projectsList div.deployment div.progress div {
	height: 10px;
	background: green;
}
div#projectsList div.failedDeployment {
	background: #FFD6D6 !important;
}
div#projectsList div.deployment div.failInfo div {
	margin: 5px;
	line-height: 1.3;
	display: none;
}
div#logs div.date {
	width: 230px;
	border-bottom: 1px solid #888;
	padding-bottom: 3px;
	margin: 20px 0 10px;
	font-size: 14px;
}
div#logs div.type {
	float: left;
	width: 110px;
	text-align: right;
	padding-top: 6px;
}
div#logs div.type span {
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	padding: 3px 8px;
	font-weight: bold;
}
div#logs div.type1 span {
	background: #7CC6E5;
}
div#logs div.type2 span {
	background: #94B817;
}
div#logs div.type3 span {
	background: #FF9000;
}
div#logs div.log {
	margin-left: 130px;
}
div#logs div.log img {
	width: 30px;
	height: 30px;
	float: left;
}
div#logs div.log div.info {
	margin-left: 35px;
	height: 30px;
	margin-bottom: 5px;
	line-height: 1.3;
}
div#logs div.log div.info span {
	font-size: 11px;
	color: #444;
}
div#logs div.log div.info a:hover {
	text-decoration: underline;
}
div#commits div.commit {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #ccc;
	background: #eee;
	padding: 5px;
	margin-bottom: 10px;
}
div#commits div.commit div.revision {
	float: right;
}
div#commits div.commit div.info {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 2px;
	margin-bottom: 2px;
}
div#commits div.commit div.info span {
	font-size: 11px;
	color: #444;
}
div#commits div.commit div.msg {
	line-height: 1.3;
}
div#main div#commits div.commit div.msg p {
	margin: 3px 0;
}
ul#filesChanged {
	line-height: 1.3;
	margin-left: 10px;
}
ul#filesChanged li.deleted a {
	color: red;
}
ul#filesChanged li.new a {
	color: green;
}
div#main h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	margin: 15px 0;
}
ul#projectsOverview li {
	margin-bottom: 10px; 
	line-height: 1.3;
}
ul#projectsOverview li span {
	font-size: 19px;
}
table#highlitedCode {
	border: 1px dotted #999;
	width: 100%;
	line-height: 1.4;
}
table#highlitedCode td {
	padding: 5px;
}
table#highlitedCode td.lineNumbers {
	width: 1%;
	text-align: right;
	border-right: 1px dotted #999;
	padding-right: 1px;
}
.fileListing {
	line-height: 1.3;
}
.fileListing a {
	font-size: 15px;
}
textarea#task_description {
	height: 100px;
	width: 500px;
}
div.jGrowl {
	z-index: 9999;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.3;
}
div.ie6 {
	position: absolute;
}
div.ie6.top-right {
	right: auto;
	bottom: auto;
	left: expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}
div.ie6.top-left {
	left: expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}
div.ie6.bottom-right {
	left: expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}
div.ie6.bottom-left {
	left: expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}
div.ie6.center {
	left: expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
	width: 100%;
}
div.jGrowl {
	position: absolute;
}
body > div.jGrowl {
	position: fixed;
}
div.jGrowl.top-left {
	left: 0px;
	top: 0px;
}
div.jGrowl.top-right {
	right: 0px;
	top: 0px;
}
div.jGrowl.bottom-left {
	left: 0px;
	bottom: 0px;
}
div.jGrowl.bottom-right {
	right: 0px;
	bottom: 0px;
}
div.jGrowl.center {
	top: 0px;
	width: 50%;
	left: 25%;
}
div.center div.jGrowl-notification, div.center div.jGrowl-closer {
	margin-left: auto;
	margin-right: auto;
}
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
	background-color: #fff; 
	zoom: 1;
	width: 235px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 1em;
	text-align: left;
	display: none;
	border: 1px solid #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
div.jGrowl div.jGrowl-notification {
	min-height: 40px;
}
div.jGrowl div.jGrowl-notification,
div.jGrowl div.jGrowl-closer {
	margin: 10px;
}
div.jGrowl div.jGrowl-notification div.jGrowl-header {
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.2em;
}
div.jGrowl div.jGrowl-notification div.jGrowl-close {
	z-index: 99;
	float: right;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
}
div.jGrowl div.jGrowl-closer {
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: pointer;
	font-size: .9em;
	font-weight: bold;
	text-align: center;
}
#highlitedCode .hll { background-color: #ffffcc }
#highlitedCode .c { color: #408080; font-style: italic } /* Comment */
#highlitedCode .err { border: 1px solid #FF0000 } /* Error */
#highlitedCode .k { color: #008000; font-weight: bold } /* Keyword */
#highlitedCode .o { color: #666666 } /* Operator */
#highlitedCode .cm { color: #408080; font-style: italic } /* Comment.Multiline */
#highlitedCode .cp { color: #BC7A00 } /* Comment.Preproc */
#highlitedCode .c1 { color: #408080; font-style: italic } /* Comment.Single */
#highlitedCode .cs { color: #408080; font-style: italic } /* Comment.Special */
#highlitedCode .gd { color: #A00000 } /* Generic.Deleted */
#highlitedCode .ge { font-style: italic } /* Generic.Emph */
#highlitedCode .gr { color: #FF0000 } /* Generic.Error */
#highlitedCode .gh { color: #000080; font-weight: bold } /* Generic.Heading */
#highlitedCode .gi { color: #00A000 } /* Generic.Inserted */
#highlitedCode .go { color: #808080 } /* Generic.Output */
#highlitedCode .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
#highlitedCode .gs { font-weight: bold } /* Generic.Strong */
#highlitedCode .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
#highlitedCode .gt { color: #0040D0 } /* Generic.Traceback */
#highlitedCode .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
#highlitedCode .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
#highlitedCode .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
#highlitedCode .kp { color: #008000 } /* Keyword.Pseudo */
#highlitedCode .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
#highlitedCode .kt { color: #B00040 } /* Keyword.Type */
#highlitedCode .m { color: #666666 } /* Literal.Number */
#highlitedCode .s { color: #BA2121 } /* Literal.String */
#highlitedCode .na { color: #7D9029 } /* Name.Attribute */
#highlitedCode .nb { color: #008000 } /* Name.Builtin */
#highlitedCode .nc { color: #0000FF; font-weight: bold } /* Name.Class */
#highlitedCode .no { color: #880000 } /* Name.Constant */
#highlitedCode .nd { color: #AA22FF } /* Name.Decorator */
#highlitedCode .ni { color: #999999; font-weight: bold } /* Name.Entity */
#highlitedCode .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
#highlitedCode .nf { color: #0000FF } /* Name.Function */
#highlitedCode .nl { color: #A0A000 } /* Name.Label */
#highlitedCode .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
#highlitedCode .nt { color: #008000; font-weight: bold } /* Name.Tag */
#highlitedCode .nv { color: #19177C } /* Name.Variable */
#highlitedCode .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
#highlitedCode .w { color: #bbbbbb } /* Text.Whitespace */
#highlitedCode .mf { color: #666666 } /* Literal.Number.Float */
#highlitedCode .mh { color: #666666 } /* Literal.Number.Hex */
#highlitedCode .mi { color: #666666 } /* Literal.Number.Integer */
#highlitedCode .mo { color: #666666 } /* Literal.Number.Oct */
#highlitedCode .sb { color: #BA2121 } /* Literal.String.Backtick */
#highlitedCode .sc { color: #BA2121 } /* Literal.String.Char */
#highlitedCode .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
#highlitedCode .s2 { color: #BA2121 } /* Literal.String.Double */
#highlitedCode .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
#highlitedCode .sh { color: #BA2121 } /* Literal.String.Heredoc */
#highlitedCode .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
#highlitedCode .sx { color: #008000 } /* Literal.String.Other */
#highlitedCode .sr { color: #BB6688 } /* Literal.String.Regex */
#highlitedCode .s1 { color: #BA2121 } /* Literal.String.Single */
#highlitedCode .ss { color: #19177C } /* Literal.String.Symbol */
#highlitedCode .bp { color: #008000 } /* Name.Builtin.Pseudo */
#highlitedCode .vc { color: #19177C } /* Name.Variable.Class */
#highlitedCode .vg { color: #19177C } /* Name.Variable.Global */
#highlitedCode .vi { color: #19177C } /* Name.Variable.Instance */
#highlitedCode .il { color: #666666 } /* Literal.Number.Integer.Long */
